.screenshot-area {
  position: relative;

  /* 自身の中央寄せ*/
  margin: 0px auto;

  /* コンテンツの中央寄せ */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 60px;
  color: white;

  /* 改行可能 */
  white-space: pre-line;
}

/* アイコン */
.screenshot-area .fa {
  font-size: 70px;
}

.screenshot-area .fas {
  font-size: 70px;
}

.screenshot-area .fab {
  font-size: 70px;
}

.screenshot-area .far {
  font-size: 70px;
}

.screenshot-area .devicons {
  font-size: 90px;
}

.photo_area {
  background-size: cover;
  background-position: center center;
  opacity: 0.3;
}

.message_area {
  position: absolute;
}
